:root {
    --white-color: rgb(255, 255, 255);
    --primary-font-face: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --black-text-color: #222222;
    --base-color: #ff6122;
    --ligh-black: #222222;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-size-title-dw: 48px;
    --font-size-title-mw: 30px;
    --font-size-title-mw-smaller: 26px;
    --font-size-base-sm: 15px;
    --font-size-base-md: 21px;
    --font-size-base-lg: 24px;
    --font-size-base-xlg: 32px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-40: 40px;
    --font-size-13: 13px;
    --font-size-28: 28px;
    --font-weight-light: 300;
    --font-weight-semi-bold: 600;
    --font-weight-extra-bold: 800;
    --font-size-xl: 32px;
    --font-size-l: 22px;
    --font-size-m: 18px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
    --font-size-xxs: 12px;
    --line-height-xl: 40px;
    --line-height-l: 28px;
    --line-height-m: 24px;
    --line-height-sm: 22px;
    --line-height-xs: 20px;
    --line-height-xxs: 16px;
    --line-height-h1-dw: 48px;
    --line-height-h1-mw: 30px;
    --line-height-form: 36px;
    --wp-line-height-xxs: 15px;
    --line-height-base: 24px;
    --line-height-half-bigger: 1.5;
    --line-height-54: 54px;
    --line-height-18: 18px;
    --line-height-32: 32px;
    --line-height-34: 34px;
    --line-height-14: 14px;
    --line-height-44: 44px;
    --line-height-1-38: 1.38;
    --line-height-1-43: 1.43;
    --line-height-1-33: 1.33;
    --font-size-base: 16px;
    --font-size-footer: calc(var(--font-size-base) * .8125);
    --wp-base-1: #ff6122;
    --wp-neutral-1: #222222;
    --wp-neutral-2: #6f6f6f;
    --wp-neutral-3: #eee;
    --wp-neutral-4: #21164c;
    --wp-neutral-5: rgba(0, 0, 0, .33);
    --wp-neutral-6: #626262;
    --wp-neutral-7: #cd4008;
    --wp-neutral-9: rgba(0, 0, 0, 0);
    --wp-neutral-10: rgba(0, 0, 0, .25);
    --wp-neutral-11: #e5e5e5;
    --wp-neutral-12: rgba(0, 0, 0, .2);
    --wp-neutral-13: rgb(0 0 0 / 50%);
    --wp-neutral-14: #e64809;
    --wp-neutral-15: #fafafa;
    --wp-neutral-16: rgba(34, 34, 34, .08);
    --wp-neutral-17: rgba(34, 34, 34, .1);
    --wp-neutral-18: rgba(255, 255, 255, .85);
    --wp-neutral-19: #3b5998;
    --wp-neutral-20: #828282;
    --wp-neutral-21: #00b2b2;
    --wp-neutral-22: #ff4f08;
    --wp-neutral-23: #f2dede;
    --wp-neutral-24: #ebccd1;
    --wp-neutral-25: #a94442;
    --wp-neutral-26: #faada1;
    --wp-neutral-27: rgba(0, 0, 0, .075);
    --wp-neutral-28: #ff7b3c;
    --wp-neutral-29: rgba(0, 0, 0, .5);
    --wp-neutral-30: rgba(18, 18, 18, .16);
    --wp-neutral-31: rgba(18, 18, 18, .64);
    --wp-neutral-32: #555;
    --wp-neutral-33: rgba(0, 0, 0, .12);
    --wp-neutral-34: rgba(0, 0, 0, .14);
    --wp-neutral-35: #ff8555;
    --wp-neutral-36: rgba(0, 0, 0, .15);
    --wp-neutral-37: rgba(0, 0, 0, .3);
    --wp-neutral-38: rgba(18, 18, 18, .12);
    --wp-neutral-39: rgba(255, 255, 255, .2);
    --ds-neutral-100: rgb(18, 18, 18);
    --ds-neutral-80: rgba(18, 18, 18, .64);
    --ds-neutral-00-solid: #fff;
    --wp-error-1: #ff3f12;
    --ds-neutral-100-solid: #121212;
    --wp-background-1: lightgray;
    --Corner-corner-00: 0;
    --Corner-corner-01: 2px;
    --Corner-corner-02: 4px;
    --Corner-corner-03: 8px;
    --Corner-corner-04: 12px;
    --Corner-corner-05: 16px;
    --Corner-corner-06: 24px;
    --Corner-corner-99: 9999px;
}