<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Wattpad</title>
    <link rel="icon" type="image/ico" href="../static/assets/image/wattpad-icon-2-removebg-preview.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thenuri Nethangi">
    <meta name="keywords" content="online stories, read stories, write stories, wattpad alternative, fiction platform, storytelling, novels, short stories, creative writing, user-generated stories">
    <meta name="description" content="Discover and share captivating stories on our platform. Read novels, write your own tales, and connect with a community of passionate readers and writers.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@1,800&family=Rubik:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/style/variables.css">
    <link rel="stylesheet" href="../static/assets/style/login-page-style.css">
</head>
<body>

<div id="app-container">
    <div class="authentication-wrapper login-modal">
    <div class="full-screen"></div>
    <div id="auth-header" class="container clearfix">
        <a href="actual-landing-page.html">
            <img width="123" class="wp-logo" alt="Wattpad" src="//static.wattpad.com/img/logos/wp-logo-orange.png?v=883ce90">
        </a>
        <div class="buttons-right">
            <a class="btn btn-link" href="">Sign up</a>
            <div class="button-group relative">
                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-controls="language-options" aria-expanded="false" aria-label="more options">English
                    <span class="fa fa-down fa-wp-neutral-1 " aria-hidden="true" style="font-size:16px;"></span>
                </button>
                <div class="triangle"></div>
                <ul id="language-options" class="dropdown-menu align-right columns">
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="pl_PL"> Polski</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="ar_EG"> العربية</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="cs_CZ"> Česky</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="de_DE"> Deutsch</a>
                    </li>
                    <li class="col-xs-4 col-sm-3 selected">
                        <a href="#" data-code="en_US"> <span class="fa fa-check fa-wp-neutral-2 " aria-hidden="true" style="font-size:16px;"></span>  English</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="es_ES"> Español</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="tl_PH"> Filipino</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="fr_FR"> Français</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="hi_IN"> हिन्दी</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="id_ID"> Bahasa Indonesia</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="it_IT"> Italiano</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="he_IL"> עברית</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="ms_MY"> Bahasa Melayu</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="nl_NL"> Nederlands</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="pt_PT"> Português</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="ro_RO"> Română</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="ru_RU"> Русский</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="tr_TR"> Türkçe</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="uk_UA"> Українська</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="vi_VN"> Tiếng Việt</a>
                    </li>
                    <li class="col-xs-4 col-sm-3">
                        <a href="#" data-code="pt_BR"> Português Brasileiro</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 center-text">
                <img id="phone-image" alt="devices" src="../static/assets/image/hero-devices.png">
            </div>
            <div class="col-sm-6 col-md-5 login-page-form-header">
                <main id="authentication-panel" class="panel panel-transparent">
                    <div class="login-modal-wrapper-new">
                        <div class="component-wrapper" id="component-authform-auth-form-%2flogin">
                            <div class="auth-form-padding">
                                <div id="authentication-panel" class="login-form">
                                    <p class="title">Log in to Wattpad</p>
                                    <div class="panel-body">
                                        <div class="signin-buttons signin-buttons-new">
                                            <button class="btn btn-google btn-block auth-button-new">
                                                <img src="../static/assets/image/google_login_color.png" alt="Google Login" class="google-login-icon" width="18" aria-hidden="true">
                                                <span>
                                                    <span class="auth-button-text-new">Log in with Google</span>
                                                </span>
                                            </button>
                                            <button class="btn btn-facebook btn-block auth-button-new" data-source="login">
                                                <img src="../static/assets/image/facebook-login-color.png" alt="Facebook Login" class="google-login-icon" width="18" aria-hidden="true">
                                                <span>
                                                    <span class="auth-button-text-new">Log in with Facebook</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="hr-with-text hr-margin-new">
                                            <div class="horizontal-line"></div>
                                            <span class="or"> or </span>
                                            <div class="horizontal-line"></div>
                                        </div>
                                        <button class="btn-block btn-primary submit-btn-new">Log in with email</button>
                                        <a href="" class="button__Y70Pw tertiary-variant__Y9kWU default-accent__Pc0Pm medium-size__CLqD3 clickable__iYXtN full-width__dXWyx with-padding__cVt72">
                                            <span class="background-overlay__mCEaX"></span>Forgot password?
                                        </a>
                                    </div>
                                    <button class="footer-button-margin-signup button__Y70Pw tertiary-variant__Y9kWU default-accent__Pc0Pm medium-size__CLqD3 clickable__iYXtN full-width__dXWyx with-padding__cVt72">
                                        <span class="background-overlay__mCEaX"></span>
                                        Don't have an account? Sign up
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
</div>


<!-- --------------------------footer---------------------------- -->
<footer class="KsomK _3iH-u">
    <ul class="la6-S ehTVt _96aZR PUdBR _3iH-u" aria-label="Wattpad links">
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Wattpad Originals</a></li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Try Premium</a></li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Get the App</a></li>
        <li><button class="u5f7- sB6J0 _58Jsq">Language</button></li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Writers</a></li>
        <li class="HAG5T">|</li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Brand Partnerships</a></li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Jobs</a></li>
        <li><a class="u5f7- sB6J0 _58Jsq" href="">Press</a></li>
    </ul>
    <ul class="VT-tn ehTVt _96aZR PUdBR _3iH-u" aria-label="Legal links">
        <li><a class="_7TWJ4 sB6J0 _58Jsq" href="" rel="nofollow">Terms</a></li>
        <li><a class="_7TWJ4 sB6J0 _58Jsq" href="" rel="nofollow">Privacy</a></li>
        <li><a class="_7TWJ4 sB6J0 _58Jsq" href="" rel="nofollow">Payment Policy</a></li>
        <li><a class="_7TWJ4 sB6J0 _58Jsq" href="" rel="nofollow">Accessibility</a></li>
        <li><a class="_7TWJ4 sB6J0 _58Jsq" href="">Help</a></li>
        <li class="uilPN">© 2025 Wattpad</li>
    </ul>
</footer>

</body>
</html>